border-box-html()
normalize-css()
global-reset()
reset-html5()

@import '_variables'


a
  link white 'underline'

  &.alt
    link $color1 'underline'

  &.btn
    button($size: 16, $text-color: $color1)
    font-size 26px
    text-transform uppercase
    margin-top 2rem
    width 100%


aside
  background-color $color1
  border 2px solid $color2
  margin 2rem auto
  overflow hidden

  &.anim canvas
    margin 5% 20%

  &.audio
    > svg #clip
      @keyframes move-mask
        0%
          transform translateX(-96px)

        100%
          transform translateX(824px)

      animation move-mask infinite running 2s ease

  &.audio, &.banner
    size 728px 96px

  &.banner
    cursor pointer

    &, > svg
      transition all 0.3s $ease-in-out-swift

    &.hover:hover
      height 350px

      svg
        margin 0 -180px

    svg
      margin-top -127px


body
  no-select()
  background-color $color1
  color $color2
  cursor default
  font-family 'Rajdhani'
  margin 0 auto
  width 728px

  &, > *, > aside.banner > svg
    transition all 0.3s $ease-in-out-swift

footer
  margin 3em 0

h1
  h1()


h2
  h2()


hr
  rule()
  border 2px solid $color2
  margin 4em 0 0 0


nav
  nav($bg-color: $color2, $link-color: $color1, $pos-fixed: true)
  width 728px

  > h1
    margin 7px
    padding 0

article
  padding-top 2em


p
  paragraph()
  text-margin()
  text-align justify

  &.brief
    font-weight bold
    font-style italic
    font-size 1.2em

  &.cols
    columns 2 3rem


pre
  pre()
  background none
  border none


ul
  ul 'square'
