header
  h1 Part 3 - Be creative

main
  aside.audio
    include ../assets/audio.svg
  
  p.brief.
    This came about by reading the docs and grabbing a few things from the examples. After an hour or so, I settled on the gritty "dubstep" sound produced mostly by the saw() function and just started adding layers to it. Listener discretion is advised!

  summary
    a.btn(href='http://studio.substack.net/robodub' target='_blank') Open in new page
