header
  h1 Part 1 - Create an expandable ad

aside.banner
  include ../assets/banner.svg

main
  h2 Introduction

  p.brief.
    This is an animated banner for a fictional next-gen smartphone. The banner itself is expandable, which can be used to reveal more information to the user, while at the same time the event can be recorded to aid in metrics for future campaigns.

  summary
    p.cols.
      The banner design was created with Inkscape and saved as a plain SVG file, which contains various elements tagged by ID. Those IDs are then manipulated using Javascript and SnapSVG. This method of creating animations with modern browsers is preferable to more traditional methods like Flash, which until recently was the de-facto standard for web animations. The primary reason why is that Flash is a closed format that prevents broad device adoption and availability. Flash animations require a container that doesn't perform consistently among different platforms (or not at all in the case of many mobile devices). SVG animations, on the other hand, are not tied to a closed container, and therefore has more likelihood of being better supported on a broader array of devices, be it full-blown desktops or budget smartphones and tablets.

    a.btn(href='https://github.com/bkuri/weborama-test/tree/master/part1/app' target='_blank') View source code
