header
  h1 Part 2 - Refactor javascript

main
  h2 Introduction
  
  p.brief.
    This is my take on optimizing the original javascript animation of the Weborama logo. I decided to do this using the literate variant of Coffeescript, which allows developers to embed the documentation in the same file as the source code. The following is a markdown representation of this file.

  aside.anim
  
  details(open) This is a slightly modified version of the source code. The actual submission can be found in the download file below. 
    a(href='http://codepen.io/bkuri/pen/QyEQjR?editors=001' target='_blank') A running instance of the minified version can be found here.
  
  
  h2 Approach
  
  summary
    p.cols.
      I'm a big fan of Coffeescript, particularly because it makes code much more expressive and pragmatic. I decided to present the code in this format to showcase how much more succint Coffeescript code can be, without sacrificing for clarity or speed once the code is compiled. The resulting source code is well documented and to the point. The main advantage of this is that any developer can adjust the code in the future without having to reference another file, which tends to make development and bug hunting much more straightforward.

    :marked
      ## Benefits over the original version

      * Clean, modular, readable code.
      * JSHint compatible.
      * Uses ES5 strict mode.
      * Around 700 bytes gzipped.
      * Fully documented alongside the code.
      * The original array used 3 dimensions and strings to denote our coordinates, which is a pretty expensive way of storing our data. Our improved array is only two-dimensional and returns numbers out of the box, which are much faster to use and manipulate (i.e. no need to do `String.split()` anymore).
      * Uses coffeescript 'classes', which are actually prototypes under the hood. This tends to use less resources than other methods.
      * Does not pollute the global namespace.
      * Extra finishing animation as a bonus.


      ## Notes

      * I added an 'erasing' animation at the end of each loop which looks a bit nicer (IMO). Plus it saves us from drawing a new circle after every loop.
      * I decided to increase the animation speed to 15fps (hope that's OK).
      * My `.jshintrc` file supresses a warning (W041), which enforces strict equality when comparing to `null`. It can be easily 'fixed' in the compiled source, but it makes no difference whatsoever in the result.


    a.btn(href='https://github.com/bkuri/weborama-test/blob/master/part2/part2.coffee.md' target='_blank') View source code
