border-box-html()
normalize-css()
global-reset()
reset-html5()

@import '../part1/app/styles/_variables'

aside
  background-color $color1
  border 2px solid $color2
  margin 0 auto
  overflow hidden

  &.banner
    size 728px 96px
    cursor pointer

    &, > svg
      transition all 0.3s $ease-out-swift

    &.hover:hover
      height 350px

      svg
        margin 0 -180px

    svg
      margin-top -127px
