doctype html

html(lang='en')
  head
    <!-- WEBORAMA SCREENAD META DATA (don't edit/remove) -->
    <!-- SCRWIDTH: 450 -->
    <!-- SCRHEIGHT: 450 -->

    meta(
      name='viewport'
      content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'
    )
    
  body
    script(type='application/javascript') !{js}
