doctype html

html(lang='en')
  head
    <!-- WEBORAMA SCREENAD META DATA (don't edit/remove) -->
    <!-- SCRWIDTH: 728 -->
    <!-- SCRHEIGHT: 90 -->
    <!-- SCRFORMAT: layer -->
      
    meta(
      name='viewport'
      content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'
    )
    
    style(media='screen') !{css}

  body
    aside.banner
      include ../part1/app/assets/banner.svg
    
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
    script(type='text/javascript', src='http://media.adrcdn.com/scripts/screenad_interface_1.0.3_scrambled.js')    

    script(type='application/javascript')
      include ../part1/vendor/snap.svg.rotate.js

    script(type='application/javascript')
      include ../part1/vendor/classList.js

    script(type='application/javascript') !{js}
