doctype html

html(lang=lang)
  head
    <!-- WEBORAMA SCREENAD META DATA (don't edit/remove) -->
    <!-- SCRWIDTH: 728 -->
    <!-- SCRHEIGHT: 90 -->
    <!-- SCRFORMAT: layer -->

    meta(charset=charset)

    meta(
      name='version'
      content='{!major!}.{!minor!}.{!maintenance!}-{!build!}'
    )
      
    meta(
      name='viewport'
      content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'
    )

    link(rel='stylesheet' href=urls.font type='text/css')
    link(rel='stylesheet' href=urls.css type='text/css')

    title !{title}

  body
    nav
      h1 !{title}
      
      ul
        li: a.alt(href='#p1') Part 1
        li: a.alt(href='#p2') Part 2
        li: a.alt(href='#p3') Part 3
    
    article#p1
      include partials/_part1
    
    hr
    
    article#p2
      include partials/_part2

    hr

    article#p3
      include partials/_part3

    footer     
      script(src=urls.vendor)
      script(src=urls.screenad)
      script(src=urls.app)
    
